dnspython
Flask==1.1.2
Flask-SocketIO==4.3.2
Flask-Login==0.5.0
gevent==21.1.2
gevent-websocket==0.10.1
googletrans==4.0.0rc1
greenlet==1.0.0
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycparser==2.20
pymongo==3.11.3
python-engineio==3.14.2
python-socketio==4.6.1
rfc3986==1.4.0
six==1.15.0
sniffio==1.2.0
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0