<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='registration.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="regform"><h1>New User Registration</h1></div></div>
    <div class="main">
        <form action="/signup", method="post">
            
           <div id="name">
                <h2 class="name">Username</h2>
                <input class="firstname" type="text" name="username" id="" placeholder="user-id"><br>
                <!-- <label class="firstlabel">username</label> -->
                <!-- <input class="lastname" type="text" name="last_name" id="" placeholder="Last Name"> -->
                <!-- <label for="" class="lastlabel">last name</label> -->
            </div>

            <h2 class="name">Password</h2>
            <input class="password" type="password" name="password" id="" placeholder="123@xyZ(*)">

            <h2 class="name">Email</h2>
            <input class="email" type="email" name="email" id="" placeholder="abc@xyz.pqr">
            <h2 class='name'>Language</h2>

            <select name="language" id="" class="options">
                <option disabled="disabled" selected="selected" value="">
                    --Choose your language--
                </option>
                <option>English</option>
                <option>Hindi</option>
                <option>Espanol</option>
                <option>Gujarati</option>
                <option>French</option>
            </select><br>
            <a href="login">Login</a>
            <button type="submit">Register</button>

        </form>
        

    </div>
</body>
</html>
