<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Chat App</title>
</head>

<body>
    <div class="room-box">
        <h2>Room & Language</h2>
        <div class="textbox">
            <i class="fas fa-users"></i>
            <input type="text" placeholder="Room-id">
        </div>

        <div class="textbox">
            <i class="fas fa-language"></i>
            <select name="language" id="" class="options">
                <option disabled="disabled" selected="selected" value="">
                    Change your language
                </option>
                <option class="opt">English</option>
                <option class="opt">Hindi</option>
                <option class="opt">Espanol</option>
                <option class="opt">Gujarati</option>
                <option class="opt">French</option>
            </select>
        </div>

        <input type="button" class="btn" value="Enter Room" >

    </div>
</body>

</html>